{% extends 'base.html' %}
<!--Extended base html file-->
{% csrf_token %}
{% block content %}
    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" src="static/img/PHO1.png" alt="">
		<h1 class="text-uppercase mb-0">White Rabbit</h1>
		<hr class="star-light">
		<h2 class="font-weight-light mb-0">Этичный хакинг + Разработка на Python/Django</h2>
	  </div>
	</header>
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">Проекты</h2>
			<hr class="star-light mb-5 text-white">
			{% for p1 in p %}<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{p1.name}} </h5>
					<p class="card-text">{{p1.des}}</p>
					<a href="javascript:window.open('{{p1.link}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary">Работающие ссылки на проекты</a>
					<a href="javascript:window.open('{{p1.gitlink}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary">Github</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{p1.name1}} </h5>
					<p class="card-text">{{p1.des1}}</p>
					<a href="javascript:window.open('{{p1.link1}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary">Работающие ссылки на проекты</a>
					<a href="javascript:window.open('{{p1.gitlink1}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary">Github</a>
				  </div>
				</div>
			  </div>
			</div>
			{% endfor %}		
		</div>
	</section>
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">Что еще важного...</h2>
			<hr class="star-light mb-5 text-white">
			{% for c1 in c %}<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{c1.name}} </h5>
					<p class="card-text">{{c1.des}}</p>
					<a href="javascript:window.open('{{c1.link}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary">Смотреть подробнее</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{c1.name1}} </h5>
					<p class="card-text">{{c1.des1}}</p>
					<a href="javascript:window.open('{{c1.link1}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary">Смотреть подробнее</a>
				  </div>
				</div>
			  </div>
			</div>
			{% endfor %}	
		</div>
	</section>
	<section class="text-white mb-0 margin" id="about">
	  <div class="container">
		<h2 class="text-center text-uppercase text-white">Кратко обо мне</h2>
	<h6 class="text-center">(кому лень переходить по ссылкам)</h6>
	
		<hr class="star-light mb-5">
		<div class="row">
		  <div class="col-lg-4 ml-auto about-1">
			<p class="lead">RabbitMQ, celery, redis, react, git, MEAN</p>
		  </div>
		  <div class="col-lg-4 mr-auto about-2">
			<p class="lead">HTML, CSS, JS, PYTHON, DJANGO, LINUX and more...</p>
		  </div>
		</div>
		<div class="text-center mt-4">
		  <a class="btn btn-xl btn-cv" href="/static/files/resume.pdf" download>
			<i class="fas fa-download mr-2"></i>
			Загрузить до 12.12.22г.
		  </a>
		</div>
	  </div>
	</section>

{% endblock %}